/* palanquin-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 600;
    src: url(assets\fonts\palanquin-v17-latin-600.woff2) format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
    src: url(assets\fonts\palanquin-v17-latin-700.woff2) format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root {
    --primary-color: #E76C1F;
    --secondary-color: #363534;
    --Tertiary-color: #FDEADC;
    --white-color: #FFFFFF;
}